ul.home_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
clear:both;
  background-color: rgb(76, 175, 80);
}
ul.home_menu li {float: left;}
ul.home_menu li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size:16px;font-family:"Segoe UI",Arial,sans-serif;
}
ul.home_menu li a:hover {background-color: white;color:black;}
ul.home_menu li.icon {display: none;}
